uvicorn
email-validator
python-jose[cryptography]
python-multipart
fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
cassandra-driver
httpx
chromadb
pydantic
pydantic-settings
passlib[bcrypt]
python-jose
bcrypt
dnspython
chromadb
transformers
sentence-transformers
torch
accelerate
requests
